.data-table {
    overflow: scroll;
}

.data-table-row {
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

.data-table-row-id, .data-table-row-name, .data-table-row-email {
    flex: 1;
    text-align: center;
}
